[unistor_bench]
home=/usr/home/unistor/trunk/unistor/unistor_bench
listen=172.162.62.163:2669
conn_num=500
conn_lasting=1
expire=10
data_opr=get
data_size=128
data_key_in_order=yes
data_get_order=yes
data_base=10000000
data_mod=0
data_master=yes
data_group=1
data_group_index=0
cache=yes
user=unistor
passwd=unistor
